body {
    background-color: #f9f9f9;
    margin: 0;
    padding-top: 20px;
}

.product__content {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.product-list {
    margin-bottom: 20px;
    color: grey;
}

.product-list__button {
    text-decoration: none;
    color: #4A9DDD;
}

.form-section {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.product__image-area {
    flex: 1;
}

.product-image {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.file-label {
    background-color: #eee;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

.file-input {
    display: none;
}

.file-name {
    margin-left: 10px;
    font-size: 0.9em;
    color: #555;
}

.validate {
    font-size: small;
    color: #CC3333;
}

.product__info {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
}

.product__label {
    display: block;
    color: grey;
    margin-bottom: 5px;
}

input::placeholder {
    color: #C0C0C0;
}

textarea::placeholder {
    color: #C0C0C0;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.season-tags {
    display: flex;
}

.season-tags label {
    margin-right: 10px;
    font-weight: normal;
}

.full-width {
    margin-bottom: 20px;
}

textarea {
    resize: none;
    padding-bottom: 30px;
}

.form__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.form__button--inner {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

button {
    color: #555555;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.return__button {
    text-decoration: none;
}

.return__button-submit {
    display: inline-block;
    text-align: center;
    box-shadow: 0 3px 2px #DDDDDD;
    padding: 10px 0;
    width: 150px;
    background-color: #eee;
    color: #555;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
}
.save-button {
    box-shadow: 0 3px 2px #DDDDDD;
    padding: 10px 40px;
    background-color: #facc15;
}

.delete-button {
    background-color: #f9f9f9;
    color: red;
    font-size: 20px;
}
